/* 重置一些默认的样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin: 0 15px;
    }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
/*主页证件照图像模块*/
#main
{
    text-align:center;
}

    #main img {
        position: relative;
        margin-left: -380px; /* 让图片向左移动 20px */
        margin-top:2px;
    }

h1 {
    margin-top: -320px;
    margin-left: 120px;
    font-size:70px;
    letter-spacing:10px;
    font-family:SimHei;
}

.English-name {
    color: grey;
    margin-left: 60px;
    margin-top: -15px;
    font-size: 20px;
}

.custom1-h2 {
    text-align: left;
    margin-left: 700px;
    font-size: 40px;
    margin-top: 10px;
}

.custom2-h2 {
    margin-left: 340px;
    font-size: 30px;
}

.link-icons {
    position: absolute;
    text-align: left;
    margin-left: 600px;
    margin-top: -100px;
}

.contact-way {
    position: absolute;
    text-align: left;
    margin-left: 250px;
    margin-top: -150px;
    font-family: SimSun;
    font-size: 25px;
}